
@font-face {
  font-family: "DMSans";
  src: url("/fonts/dm_sans_variable.ttf") format("truetype");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

body {
  color: #171717;
  background: #e8e8e8;
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
